{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="wraper-flex frm" style="top:10%;">
<div class="text-info naslov">Izmeni porfil</div>
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <p class="text-info" align="center">{{ field.label_tag }}</p>
    <p>{{ field }}
    </p><br>
    {% for error in field.errors %}
    <p style="font-size: smaller" class="text-danger text-center">{{ error }}</p>
    {% endfor %}
    {% endfor %}

    <button type="submit" class="btn warning">sačuvaj izmene</button>
</form>
    <a class="frm-link" href="{% url 'accounts:password_change' %}">Promeni lozinku</a>
</div>
{% endblock %}