{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="comments">
<h2><p align="center"><a class="frm-link" href="{% url 'blog:post_detail' slug=post.slug %}">{{ post.title }}</a></p></h2>
{% for comment in page %}
  	 <p class='post' align='center'>{{ comment.text|linebreaksbr }}</p>
     <p align='center' class="text-success">{{ comment.author }}</p>
     <br>
  	{% if comment.author == user.info or user.is_superuser %}
  	<a href="{% url 'blog:comment_delete' pk=comment.pk %}" class="link-danger">Obriši komentar</a>
  	{% endif %}
{% endfor %}
<div class="pagination">
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}">&laquo;</a>
    <a href="?page=1">1</a>
    {% endif %}
    <a class="active" href="#">Strana {{ page.number }} od {{ page.paginator.num_pages }}</a>
    {% if page.has_next %}
    <a href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
    <a href="?page={{ page.next_page_number }}">&raquo;</a>
    {% endif %}
  </div>
</div>

{% endblock %}