{% extends 'base.html' %}
{% block content %}
<div class="comments">
    <h2 class="naslov text-success" style="cursor: default;font-family: serif;">Sve objave</h2>
<form method="POST" action="" enctype="multipart/form-data" class="search">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="submit"><i class="fas fa-search"></i></button>
</form>

{% for post in page %}
<a class="objava"  href="{% url 'blog:post_detail' slug=post.slug %}" class="naslov-ref">
     <img src="{{ post.thumbnail.url}}" alt="">
      <h3><p align="center">{{ post.title }}</p></h3>
      <div class="datum">{{ post.published_date|date:"d.m.Y." }}</div>
</a>
{% endfor %}

{% if get_method %}
<div class="pagination">
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}">&laquo;</a>
    <a href="?page=1">1</a>
    {% endif %}
    <a class="active" href="#">Strana {{ page.number }} od {{ page.paginator.num_pages }}</a>
    {% if page.has_next %}
    <a href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
    <a href="?page={{ page.next_page_number }}">&raquo;</a>
    {% endif %}
</div>
{% endif %}
</div>
{% endblock %} 