{% extends 'base.html' %}
{% block content %}
<div class="comments">
    <h2 class="naslov text-info">Neobjavljeno</h3>
	{% for post in page_obj %}
     <a class="objava"  href="{% url 'blog:post_detail' slug=post.slug %}" class="naslov-ref">
     <img src="{{ post.thumbnail.url}}" alt="">
      <h3><p align="center">{{ post.title }} </p></h3>
     </a>
    {% endfor %}

<div class="pagination">
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}">&laquo;</a>
    <a href="?page=1">1</a>
    {% endif %}
    <a class="active" href="#">Strana {{ page.number }} od {{ page.paginator.num_pages }}</a>
    {% if page.has_next %}
    <a href="?page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
    <a href="?page={{ page.next_page_number }}">&raquo;</a>
    {% endif %}
</div>
</div>
{% endblock %}