{% extends 'base.html' %}
{% block content %}
<div class="wraper-flex frm w90">
<div class="naslov text-info">Dodaj objavu</div>
<form method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {% for field in form %}
    <p>
    <h4 class="text-info" align="center">{{ field.label_tag }}</h4>
    </p>
    <p align="center">
    {{ field }}
    </p>
    {% for error in field.errors %}
          <p style="font-size: smaller" class="text-danger text-center">{{ error }}</p>
          <br>
    {% endfor %}
    {% endfor %}
<button type="submit" class="btn info" style="left: 45%">Sačuvaj</button>
{% if not post.published_date %}
<p align="center"><a class='frm-link' href="{% url 'blog:post_publish' form.instance.pk %}">Objavi</a></p>
{% endif %}
<p align="center"><a class="link-danger" href="{% url 'blog:post_delete' form.instance.pk %}">Obriši</a></p>
</form>
</div>
{% endblock %}