{% extends 'base.html' %}
{% block content %}
<div class="m10 wraper-flex column">
    <h2 class="naslov text-success">Sve objave</h2>
<form method="POST" action="" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-primary btn-sm" type="submit">Pretraži</button>
</form>

{% for post in page_obj %}
    <div>
      <p align="center"><a href="{% url 'blog:post_detail' pk=post.pk %}" class="naslov-ref">{{ post.title }}</a></p>
     <p align="center" style="cursor: default;font-style: italic;">{{ post.published_date }}</p>
    </div>
{% endfor %}
{% if get_method %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="firstpage" href="?page=1">&laquo; first</a>
            <a class="pravious" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="next"href="?page={{ page_obj.next_page_number }}">next</a>
            <a  class='lastpage' href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endif %}
{% endblock %} 