{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="comments">
<h1 class="naslov text-info" style="cursor: default;font-family: serif;">{{topic.name}}</p></h1>

{% for post in posts %}
<a class="objava"  href="{% url 'blog:post_detail' slug=post.slug %}" class="naslov-ref">
     <img src="{{ post.thumbnail.url}}" alt="">
      <h3><p align="center">{{ post.title }}</p></h3>
      <div class="datum">{{ post.published_date|date:"d.m.Y." }}</div>
</a>
{% endfor %}

<h3>
<p align="center"><a class="link-danger" href="{% url 'blog:topic_delete' pk=topic.pk %}">
Obriši temu
</a></p>	
</h3>
</div>
{% endblock %}