{% extends 'base.html' %}
{% load static %} 
{% block content %}
<div class="wraper-flex frm">
<div class="naslov text-info">Dodaj temu</div>
    <br>
    <form action="{% url 'blog:topic_create'%}" method="post">
    {% csrf_token %}
    {{ form.media }}
    <p align="center">
    {{ form.name }}
    </p>
    {% for error in form.name.errors %}
          <p style="font-size: smaller" class="text-danger text-center">{{ error }}</p>
          <br>
    {% endfor %}
    <p class="text-center"><button type="submit" class="btn success">Dodaj</button>
    </form>
</p>
</div>
{% endblock %} 