{% extends 'base.html' %}
{% load static %} 
{% block content %}
    <div class="wraper-flex gallery">
      <img class="img" src="{% static 'img/h1.jpeg' %}" alt="">
      <img class="img" src="{% static 'img/h2.jpeg' %}" alt="">
      <img class="img" src="{% static 'img/h3.jpeg' %}" alt="">
   </div>
   <div class="wraper-flex column">
    <div class="naslov veliki">
      <h1><i class="fas fa-calendar-alt"></i> Nedavno <i class="fas fa-calendar-alt"></i></h1>
    </div>
    <div class="post" >
      <div class="naslov">
        <h1><a href="">Naslov</a></h1>
      </div>
      <div class="tekst">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt labore harum, numquam id. Et rem, maxime illum dicta, nam incidunt vel voluptates unde assumenda. Facilis quia atque sequi obcaecati optio!</div>
      <p align="right" style="cursor: default;font-style: italic;">12.3.2020</p>
    </div>
    <div class="post">
      <div class="naslov">
        <h1><a href="">Naslov</a></h1>
      </div>
      <div class="tekst">Facere dolorum animi ipsum earum hic necessitatibus qui, fugit commodi sint saepe laboriosam, excepturi deleniti deserunt consectetur, id minima. Delectus illo ut quae architecto cupiditate odio, impedit illum, animi deleniti.</div>
      <p align="right" style="cursor: default;font-style: italic;">12.3.2020</p>
    </div>
    <div class="post">
      <div class="naslov">
        <h1><a href="">Naslov</a></h1>
      </div>
      <div class="tekst">Iusto magnam officia reiciendis cum adipisci ut, est magni odit nostrum saepe. Perspiciatis provident veniam dolores odit ab, modi eum amet inventore obcaecati doloribus eveniet fugiat, vitae illo at et.</div>
      <p align="right" style="cursor: default;font-style: italic;">12.3.2020</p>
    </div>
    <div class="post">
      <div class="naslov">
        <h1><a href="">Naslov</a></h1>
      </div>
      <div class="tekst">Sint accusantium ipsum reprehenderit, voluptas eius quia ea beatae quod, commodi dolorem. Harum adipisci distinctio reiciendis suscipit laboriosam fuga eaque, sapiente perferendis ratione, ullam repudiandae eum aliquid repellat architecto optio!</div>
      <p align="right" style="cursor: default;font-style: italic;">12.3.2020</p>
    </div>
    <div class="post">
      <div class="naslov">
        <h1><a href="">Naslov</a></h1>
      </div>
      <div class="tekst">Aliquam officiis libero repellat consectetur quaerat et temporibus nihil at, ut tempora voluptatem molestiae molestias doloribus nemo sit nam velit deleniti consequatur a magni veritatis beatae nobis maxime. Autem, aliquid!</div>
      <p align="right" style="cursor: default;font-style: italic;">12.3.2020</p>
    </div>
  </div>
</body>

{% endblock %}
