{% extends 'base.html' %}
{% load static %} 
{% block content %}
    <div class="wraper-flex gallery">
      <img class="img" src="{% static 'img/h1.jpeg' %}" alt="">
      <img class="img" src="{% static 'img/h2.jpeg' %}" alt="">
      <img class="img" src="{% static 'img/h3.jpeg' %}" alt="">
   </div>
   <div class="wraper-flex column">
    <div class="naslov veliki">
      <h1><i class="fas fa-calendar-alt"></i> Najnovije popularno <i class="fas fa-calendar-alt"></i></h1>
    </div>
    {% for post in posts %}
    <div class="post" >
      <div class="naslov">
        <h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
      </div>
      <div class="tekst">{{ post.text|safe|linebreaksbr }}</div>
      <p align="right" style="cursor: default;font-style: italic;">{{ post.published_date }}</p>
    </div>
    {% endfor %}
    </div>
</body>

{% endblock %}
